@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Roboto, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #EEF7F5;
}

h1 {
  font-size: clamp(1.8em, 3vw, 3em) !important;
}

h2 {
  font-size: clamp(1.2em, 1.8vw, 2em) !important;
}

h3 {
  font-size: clamp(1.2em, 1.5vw, 1.8em) !important;
}

h4 {
  font-size: clamp(1.1em, 1.3vw, 1.6em) !important;
}

h5 {
  font-size: clamp(1em, 1vw, 1.5em) !important;
}

p, li, blockquote {
  font-size: clamp(1em, 1.2vw, 1.2em) !important;
  line-height: 175% !important;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
